.photo-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 16px;
	max-width: calc(100% - (48px*2));
	margin: 92px auto 0;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.photo-grid {
		grid-template-columns: repeat(3, 1fr);
		gap: 14px;
	}
}

@media (min-width: 425px) and (max-width: 768px) {
	.photo-grid {
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
		margin-top: 88px;
		max-width: calc(100% - (24px*2));
	}
}

@media (max-width: 425px) {
	.photo-grid {
		grid-template-columns:  1fr;
		gap: 12px;
		margin-top: 64px;
		max-width: calc(100% - (16px*2));
	}
}