.cover__subtitle {
	font-weight: normal;
	font-size: 18px;
	line-height: 1.22;
	text-align: center;
	color: #FFFFFF;
	margin: 0;
	padding: 0;
	margin-top: 32px;
	max-width: 360px;
  position: relative;
}

@media (max-width: 550px) {
	.cover__subtitle {
		font-size: 14px;
		line-height: 1.14;
		max-width: 288px;
		margin-top: 16px;
	}
}
