.footer__link {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.12;
	color: #FFFFFF;
	text-decoration: none;
	transition: 0.5s ease;
}

.footer__link:hover {
  opacity: .8;
}

@media (max-width: 500px) {
	.footer__link {
		font-size: 24px;
		line-height: 1;
	}
}
